.login{
    position:absolute;
    width:80%;
    left:10%;
    top:30%;
    text-align:-webkit-center;
}

.logotype_small{
    background-image:url(../img/logo.png);
    background-repeat:no-repeat;
    width:309px;
    height:50px;
    margin-bottom:10px;
}

.add_friend_block{
    width:90%;
    height:56px;
    font-size:16px;
    font-weight:500;
    padding-top:5%;
    padding-left:10%;
    padding-right:5%;
    padding-bottom:5%;
}

.add_friend_icon{
    background-image:url(../img/icon_add_friend.png);
    width:56px;
    height:56px;
    display:inline-block;
    margin-right:10%;
}

span.add_friend_text{
    display:inline-block;
    height:56px;
    vertical-align:middle;
}


span.favorite_block_title{
    font-weight:600;
}

.favorite_block{
    width:100%;
    margin-right:5%;
    margin-left:5%;
}

.player_informations{
    display:inline-block;
    margin-left:5%;
}

.player_name{
    font-size:16px;
}

.player_nick{
    font-size:14px;
}

.player_status{
    display:inline-block;
    height:15px;
    vertical-align:middle;
}

.player_status_icon_playing{
    background-image:url(../img/player_status_icon_playing.png);
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    width:13px;
    height:13px;
    margin-top:3%;
}

.player_status_icon_schedule{
    background-image:url(../img/player_status_icon_schedule.png);
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    width:13px;
    height:13px;
    margin-top:3%;
}



.player_status_icon_noschedule{
    background-image:url(../img/player_status_icon_noschedule.png);
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    width:13px;
    height:13px;
    margin-top:3%;
}

.player_block{
    display:block;
    margin-left:5%;
    margin-top:3%;
    margin-right:5%;
}

.player_photo{
    display:inline-block;
    width:54px;
    height:54px;
    border-radius:50%;
    background: #5A5C61;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.player_status_block{
    display:inline-block;
}

.button_playnow{
    /* Oval: */
    background-image: radial-gradient(50% 78%, #00F5BF 30%, #00E68A 78%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.80);
    width:54px;
    height:54px;
    border-radius:50%;
    position:absolute;
    z-index:1000;
    bottom:10%;
    right:10%;
    display:block;
}

.icon_playnow{
    background-image:url(../img/icon_playnow.png);
    background-repeat:no-repeat;
    width:22px;
    height:38px;
    margin-left:17px;
    margin-top:7px;
}